<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <title>Weather | NegoDEV.TK</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.11/tailwind.min.css'>
  <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet"> 

   <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.3.2/cdn.js'></script>
</head>
<body>
  </br>
  </br>
  </br>
    <!-- component -->
    <center>
    <div class="preloader" id="preloader" style="display: none;height: 10000px; width: 1000px;align-items:center;background-color: #3437eb;">
<div class="preloader w-max-full w-full h-full flex justify-center items-center h-screen">
    <div class="relative w-24 h-24 animate-spin rounded-full bg-gradient-to-r from-purple-400 via-blue-500 to-red-400 ">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-20 h-20 bg-gray-200 rounded-full border-2 border-white"></div>
    </div>
</div>
    </div>
    </center>
    <script>
//const loader = Document.getElementById(""
const lo = document.getElementById("preloader" )
       // const klo = document.getElementById("asagii")
lo.style.display = 'block' 

//klo.style.display = 'none' 
        setTimeout(function(){
            lo.style.display = 'none'
            //klo.style.display = 'block' 
        }, 4000)
        
    </script>
  <!-- Search -->
        <div class='text-white max-w-xs my-auto mx-auto bg-gradient-to-r from-blue-900 to-blue-500  rounded-xl '> 
    <body id="asagii">
    <div id="asagi">
  <div class="asagi mb-2 bg-indigo-700 py-4 w-70 h-20 max-full m-full bg-opacity-100   relative text-gray-700" id="asagi">
    <form action="/api/weather" method="post">
  <input class="w-full h-10 pl-3 pr-8 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" placeholder="Şehir Gir" name="country" />
  <button type="submit" class="bg-indigo-700 py-4 px-8 mb-2 w-4 h-25 absolute inset-y-1 right-0 flex mt-30 items-center px-7 font-bold text-white bg-indigo-600 rounded-r-lg hover:bg-indigo-700 focus:bg-indigo-700"><i class="fal fa-search-location"></i></button>
    </form>
</div>
    </div>
        </div>
        <br>
<!-- Card -->
<div id="asagi" class=" bg-gradient-to-r from-white-900 to-white-700 antialiased min-h-screen bg-gray-100 flex items-center">
  
<div class="w-full max-w-sm mx-auto">
  <div class="bg-white shadow rounded-lg p-5 dark:bg-gray-800 w-full"
	x-data="{
		weatherData: null,
		fetchWeatherData() {
			fetch('https://api.weatherapi.com/v1/forecast.json?key=ff9b41622f994b1287a73535210809&q=<%=cLoc.city%>&days=3')
				.then(response => response.json())
				.then(json => this.weatherData = json)
		},
		formattedDateDisplay(date) {
			const options = {
				weekday: 'long',
				year: 'numeric',
				month: 'long',
				day: 'numeric'
		   };
		   
		   return (new Date(date)).toLocaleDateString('tr-TR', options);
		}
	}"
	x-init="setInterval(function() { fetchWeatherData() }, 10000)"
	x-cloak
>
               <div class="block rounded-t overflow-hidden  text-center ">
            <div class="bg-blue text-white py-1">
              

	<h2 class="font-bold text-gray-800 text-lg dark:text-gray-400" x-text="formattedDateDisplay(new Date())"></h2>
            </div></div>
	<template id="asagi" x-if="weatherData != null">
		<div>
			<div class="flex mt-4 mb-2">
				<div class="flex-1">
					<div class="text-gray-600 text-sm dark:text-gray-400" x-text="weatherData.location.name +', '+ weatherData.location.region"></div>
					<div class="text-3xl font-bold text-gray-800 dark:text-gray-300" x-html="`${weatherData.current.temp_c} &deg;C`"></div>
					<div x-text="weatherData.current.condition.text" class="text-xs text-gray-600 dark:text-gray-400"></div>
				</div>
				<div class="w-24">
					<img :src="`https:${weatherData.current.condition.icon}`" :alt="weatherData.current.condition.text" loading="lazy">
				</div>
			</div>

			<div class="flex space-x-2 justify-between border-t dark:border-gray-500">
				<template x-for="(forecast, key) in weatherData.forecast.forecastday.splice(1)">
					<div class="flex-1 text-center pt-3" :class="{'border-r dark:border-gray-500': key==0}">
						<div x-text="`${forecast.date.split('-')[2]}/${forecast.date.split('-')[1]}/${forecast.date.split('-')[0]}`" class="text-xs text-gray-500 dark:text-gray-400"></div>
						<img :src="`https:${forecast.day.condition.icon}`" :alt="forecast.day.condition.text" loading="lazy" class="mx-auto">
						<div x-html="`${forecast.day.maxtemp_c} &deg;C`" class="font-semibold text-gray-800 mt-1.5 dark:text-gray-300"></div>
						<div x-text="forecast.day.condition.text" class="text-xs text-gray-600 dark:text-gray-400"></div>
					</div>
				</template>
			</div>
		</div>
	</template>

	<template x-if="weatherData == null">
		<div class="animate-pulse">
			<div class="flex mt-4 mb-5">
				<div class="flex-1">
					<div class="rounded h-2 mb-1.5 bg-gray-200 w-1/2"></div>
					<div class="bg-gray-200 rounded h-4"></div>
					<div class="rounded h-2 mt-1.5 bg-gray-200 w-1/2"></div>
				</div>
				<div class="w-24">
					<div class="w-12 h-12 rounded-full bg-gray-100 mx-auto"></div>
				</div>
			</div>

			<div class="flex space-x-2 justify-between border-t h-32 dark:border-gray-500">
				<div class="flex-1 text-center pt-4 border-r px-5 dark:border-gray-500">
					<div class="rounded h-2 mb-2 bg-gray-200 w-1/2 mx-auto"></div>
					<div class="w-12 h-12 rounded-full bg-gray-100 mx-auto mb-2"></div>
					<div class="rounded h-3 mt-1 bg-gray-200 mt-1.5 mx-auto"></div>
					<div class="rounded h-2 mt-1 bg-gray-200 w-1/2 mx-auto"></div>
					
				</div>
				<div class="flex-1 text-center pt-4 px-5">
					<div class="rounded h-2 mb-2 bg-gray-200 w-1/2 mx-auto"></div>
					<div class="w-12 h-12 rounded-full bg-gray-100 mx-auto mb-2"></div>
					<div class="rounded h-3 mt-1 bg-gray-200 mt-1.5 mx-auto"></div>
					<div class="rounded h-2 mt-1 bg-gray-200 w-1/2 mx-auto"></div>
				</div>
			</div>
		</div>
	</template>
</div>
</div>
</body>
